html, body {
	background: #592547;
}

#siteHeader nav {
	background-color: #282828;
}

#siteHeader nav a:hover {
	background: #121212;
	color: #d6d6d6;
}

#largeLogo h1 {
	font-family: "Lemon", cursive;
	font-size: 6em;
	font-weight: 100;
	text-shadow: 4px 4px 2px #2B1825;
}

.logoLinux {
	color: #EDEDED;
}

.logoTuts {
	color: #D9663D; 
}

#sections {
	min-width: 60%;
	max-width: 90%;
	margin: 2em 1em 3em 1em;
	position: relative;
	overflow: hidden;
	margin-left:4.75%;
}

#sections div {
	display: inline-block;
}

#sections .section {
	width: 30%;
	min-height: 5em;
	text-align: center;
}

.section > p {
	text-align: justify;
	margin: 0 20%;
}

#sections .divider {
	width: 1.5%;
	text-align: center;
	height: 175px;
	position:relative;
	top:-175px;
	
}

#sections .divider div {
	width: 1px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #FFF;
}

h2 {
	padding-bottom: .5em;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 1.4em;
}

button {
	background: #FFF;
	color: #000;
}

#bigSearch input {
	-webkit-border-radius: 20px;
	border-radius: 20px;
	width:19%;
}

#bigSearch:focus, input:focus{
    outline: 0;
}

.container {
	color: #EEE;

}

.container a {
	color: #edb451;
}
