html, body {
	margin: 0;
	padding: 0;
	font: 100%/1.5 "Open Sans", sans-serif;
	background: #F6F6F6;
}
body {
	text-align: center;
	width: 100%;
}

a {
	color: #000;
}

#siteHeader nav {
	text-align: left;
	background: #592547;
	white-space:nowrap;
	position:relative;
}

#topLogo {
	display: inline-block;
	color: #FFF;
	/*Fonts not working */
	font-family: "Lemon", cursive;
	font-weight: bold;
	font-size: 2.2em;
	margin: 0 1em;
	position: relative;
	top: .2em;
}

#topLogo a{
	color:white;
	text-decoration: none;
	padding: 0 0.2em;

}
#topLogo a:hover{
	border-bottom: none;
	/*background: #ebd451;*/
	background: transparent;
}

#siteHeader nav ul {
	display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#siteHeader nav ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#siteHeader nav>ul>li>a {
	display: inline-block;
	text-decoration: none;
	color: #d6d6d6;
	padding: 1em; 
	border-right: 1px solid #CCC;
	border-bottom: 2px solid transparent;
}

#siteHeader nav>ul>li>a.active {
	color: #edb451;
}

#siteHeader nav a:hover {
	background: #FFF;
	color: #111;
	border-bottom: 2px solid orange;
}

#siteHeader nav li:first-child {
	padding-left: 0.5em;
}

#search {
	position: absolute;
	right: 1em;
	top:0px;
	padding: 1em .5em 1em 0;
	width: 10%; 
}

.container {
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
}

.narrow {
	width: 60em;
	overflow: hidden;
}

.legible {
	font-size: 1.1em;
	width: 40em;
	padding: 1em;
	float: left;
}

.legible ul{
	list-style-type: none;
}

.legible li{
	padding: 1em;
	border-bottom: 1px solid grey;
}

.legible h3 {
	border-bottom: 1px solid #CCC;
}

.sideNav {
	width: 12em;
	padding-left: 1em;
	float: right;
	border-left: 1px solid #C6C6C6;
	position: relative;
}

.left, .right {
	width: 45%;
	margin: 0 2.5%;
	float: left;
	min-height: 1px;
	/* outline: 1px solid #000; */
}


#bigSearch {
	font-size: 1.5em;
}
#bigSearch input {
	padding: 20px 8px 2px 8px;
	margin-left:10px;
	/*padding: .2em .8em;*/
	font-size: inherit;
}

section a {
	color: #4377bf;
}

section a:hover {
	color: orange;
	background: #444;
}

h2 {
	line-height: 1em;
	font-weight: 400;
	padding-bottom: .5em;
	margin-top: 1em;
}


footer {
	display: block;
	width: 100%;
}

#footerContainer {
	margin-top: 3em;
	padding: 2em;
	color: #edb451;
}

#footerContainer a {
	color: #edb451;
	padding: .5em;
}

table {
	margin: 2em 0;
}

pre {
	font-family: monospace;
	background: #222;
	color: #EEE;
	padding: 1em;
	max-width: 100%;
	overflow-x: auto;
}

nav.breadcrumbs ul {
	display: inline-block;
   list-style-type: none;
   padding: 0;
   margin: 0;
}
nav.breadcrumbs ul li {
	display: inline-block;
	padding: .33em .66em;
	margin: 0 .5em;

}
nav.breadcrumbs ul li.arrow {
	background-color: transparent;
	font-size: 2em;
	padding: 0;
	margin: 0 inherit;
	line-height: 1em;
	border: none;
	color: grey;
}
nav.breadcrumbs ul a {
	text-decoration: none;
	color: #D9663D;
}
/*nav.breadcrumbs ul a li:hover {
	background-color: #FFF;
	color: #000;
}*/

nav.sequence {
	margin: 2em 0;
}

nav.sequence ul li {
	font-size: 1em;
	background-color: #592547;
}

input, select, textarea{
    color: #000000;
}
.lessonList a:hover
{
	font-weight: bold;
	text-decoration:none;
	color: #712323;
}